Step 1: Download the Datasets
Download the provided datasets: dataset1.csv and dataset2.csv.

Step 2: Load the Datasets
Load both datasets into your preferred data analysis environment (e.g., Python with pandas, R, or any other tool of your choice).

Step 3: Explore the Datasets
Take a moment to explore the structure and contents of each dataset.
Identify common fields between the datasets (e.g., record_id) for merging.

Step 4: Merge the Datasets
Merge the datasets based on the common field (e.g., record_id) to create a single, merged dataset.
Ensure that you only include matched records in the merged dataset.

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ds1 = pd.read_csv('dataset1.csv')
ds2 = pd.read_csv('dataset2.csv')
#ds2.head(20)
merged = pd.merge(ds1, ds2, on='record_id')

data_types = merged.dtypes
print(data_types)
output_file_path = 'merged.csv'
merged.to_csv(output_file_path, index=True)

record_id                        int64
Sex                             object
Age                              int64
Race                            object
Weight (kg)                    float64
Height (cm)                    float64
Systolic BP                      int64
Diastolic BP                     int64
Cholesterol (mg/dL)            float64
Smoking                         object
Alcohol Intake (units/week)      int64
Diabetic                        object
dtype: object

In [12]:
merged.rename(columns={'Sex':'Gender'}, inplace=True)
merged.to_csv('merged.csv', index=False)
merged.head(15)

,record_id,Gender,Age,Race,Weight (kg),Height (cm),Systolic BP,Diastolic BP,Cholesterol (mg/dL),Smoking,Alcohol Intake (units/week),Diabetic
0,1,Male,19,African American,76.7,171.9,119,81,185.5,No,0,No
1,2,Male,32,Caucasian,62.4,167.7,110,92,165.5,Yes,6,Yes
2,3,Male,61,African American,63.9,175.8,121,79,227.4,Yes,2,Yes
3,4,Male,55,Caucasian,63.2,184.7,121,81,173.2,No,15,Yes
4,5,Male,23,Caucasian,72.0,176.3,133,87,230.8,Yes,0,No
5,6,Male,53,Caucasian,65.9,187.1,98,71,178.2,No,4,No
6,7,Female,32,Caucasian,85.9,175.6,124,84,171.5,No,12,No
7,8,Female,69,Asian,81.4,178.2,113,61,203.5,No,0,No
8,9,Male,62,Caucasian,89.3,164.5,134,72,250.5,Yes,1,Yes
9,10,Female,27,Caucasian,86.1,175.8,136,91,215.8,No,7,Yes
10,11,Female,24,Caucasian,74.3,174.6,125,81,176.8,Yes,8,No
11,12,Male,40,Asian,59.1,179.5,123,64,154.4,No,8,Yes
12,13,Female,69,Caucasian,81.1,163.2,90,79,170.0,No,7,No
13,14,Female,52,Caucasian,70.2,171.5,116,63,214.3,Yes,8,No
14,16,Female,54,Caucasian,66.8,166.9,126,84,191.9,Yes,16,No

In [14]:
#Convert Height (cm) to Height (m)
#Add column for height in meters  cm/100= meter
merged['Height (m)'] = merged['Height (cm)'] / 100 

#Add column for BMI = Weight(kg)/height(m)^2
merged['BMI'] = merged['Weight (kg)'] / (merged['Height (m)'] ** 2)
merged.head(5)

num_records = merged.shape[0]
print("Number of records in the dataset:", num_records)
merged.head(15)

Number of records in the dataset: 894

,record_id,Gender,Age,Race,Weight (kg),Height (cm),Systolic BP,Diastolic BP,Cholesterol (mg/dL),Smoking,Alcohol Intake (units/week),Diabetic,Height (m),BMI
0,1,Male,19,African American,76.7,171.9,119,81,185.5,No,0,No,1.719,25.956349
1,2,Male,32,Caucasian,62.4,167.7,110,92,165.5,Yes,6,Yes,1.677,22.188016
2,3,Male,61,African American,63.9,175.8,121,79,227.4,Yes,2,Yes,1.758,20.675838
3,4,Male,55,Caucasian,63.2,184.7,121,81,173.2,No,15,Yes,1.847,18.526069
4,5,Male,23,Caucasian,72.0,176.3,133,87,230.8,Yes,0,No,1.763,23.164764
5,6,Male,53,Caucasian,65.9,187.1,98,71,178.2,No,4,No,1.871,18.825124
6,7,Female,32,Caucasian,85.9,175.6,124,84,171.5,No,12,No,1.756,27.857628
7,8,Female,69,Asian,81.4,178.2,113,61,203.5,No,0,No,1.782,25.633565
8,9,Male,62,Caucasian,89.3,164.5,134,72,250.5,Yes,1,Yes,1.645,33.000434
9,10,Female,27,Caucasian,86.1,175.8,136,91,215.8,No,7,Yes,1.758,27.858993
10,11,Female,24,Caucasian,74.3,174.6,125,81,176.8,Yes,8,No,1.746,24.372514
11,12,Male,40,Asian,59.1,179.5,123,64,154.4,No,8,Yes,1.795,18.342502
12,13,Female,69,Caucasian,81.1,163.2,90,79,170.0,No,7,No,1.632,30.449527
13,14,Female,52,Caucasian,70.2,171.5,116,63,214.3,Yes,8,No,1.715,23.867606
14,16,Female,54,Caucasian,66.8,166.9,126,84,191.9,Yes,16,No,1.669,23.980807